<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Information</title>
  <link rel="stylesheet" href="/styles/customer_info.css">
</head>
<body>
  <div class="container">
    <h1>Customer Information</h1>
    <% if flash[:error].present? %>
      <p class="error-message">Error: <%= flash[:error] %></p>
    <% else %>
      <p><b>Customer ID:</b> <%= @customer_id %></p>
      <p><b>Current Tier:</b> <%= @customer_info[:current_tier] %></p>
      <p><b>Total Spent:</b> $<%= @customer_info[:total_spent] %></p>

      <div class="progress-bar-container">
        <p><b>Current Progress:</b></p>
        <% if @customer_info[:current_tier] != 'Gold' %>
          <p>You're $<%= @customer_info[:amount_to_spent_for_next_tier] %> away from <b><%= @customer_info[:next_tier] %></b>. To keep your current tier, spent $<%= @customer_info[:amount_needed_to_maintain_tier] %> before <b><%= @customer_info[:downgraded_date] %></b></p>
        <% else %>
          <p>Congratulation! You already <b>Gold</b>. Keep it up by spent $<%= @customer_info[:amount_needed_to_maintain_tier] %> before <b><%= @customer_info[:downgraded_date] %></b></p>
        <% end %>
        <div class="progress-bar" style="height: 15px; width: <%= @progress_percentage %>%; background-color: <%= @progress_bar_color %>;"></div>
      </div>
    <% end %>
  </div>
</body>
</html>