<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customerId, style: "display: block" %>
    <%= form.text_field :customerId %>
  </div>

  <div>
    <%= form.label :customerName, style: "display: block" %>
    <%= form.text_field :customerName %>
  </div>

  <div>
    <%= form.label :orderId, style: "display: block" %>
    <%= form.text_field :orderId %>
  </div>

  <div>
    <%= form.label :totalInCents, style: "display: block" %>
    <%= form.number_field :totalInCents %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
