<div id="<%= dom_id order %>">
  <p>
    <strong>Customerid:</strong>
    <%= order.customerId %>
  </p>

  <p>
    <strong>Customername:</strong>
    <%= order.customerName %>
  </p>

  <p>
    <strong>Orderid:</strong>
    <%= order.orderId %>
  </p>

  <p>
    <strong>Totalincents:</strong>
    <%= order.totalInCents %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

</div>
